<div class="flex flex-col flex-auto w-full">

  <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

    <!-- Title and action buttons -->
    <div class="flex items-center justify-between w-full">
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">Analytics dashboard</div>
        <div class="font-medium tracking-tight text-secondary">Monitor metrics, check reports and review performance
        </div>
      </div>
      <div class="flex items-center ml-6">
        <churches-select-control
          allowSelectAll="true"
          (selectionChange)="onChurchSelected($event)"></churches-select-control>
        <button
          class="hidden sm:inline-flex ml-3"
          mat-flat-button
          [color]="'primary'">
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_solid:save'"></mat-icon>
          <span class="ml-2">Export</span>
        </button>

        <!-- Actions menu (visible on xs) -->
        <div class="sm:hidden">
          <button
            [matMenuTriggerFor]="actionsMenu"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item>Export</button>
            <button mat-menu-item>Settings</button>
          </mat-menu>
        </div>
      </div>
    </div>

    @if (!$isChartAttendanceLoading() && store.hasData()) {

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full mt-8">
        <!-- Visitors overview -->
        <div
          class="sm:col-span-2 lg:col-span-3 dark flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10">
            <div class="flex flex-col">
              <div class="mr-4 text-2xl md:text-3xl font-semibold tracking-tight leading-7">Total Attendance</div>
              <div class="font-medium text-secondary">Attendance by month</div>
            </div>
            <div class="ml-2">
              <mat-button-toggle-group
                class="hidden sm:inline-flex border-none space-x-1"
                [value]="2024"
                #visitorsYearSelector="matButtonToggleGroup">
                @for (year of store.chartAttendanceSeries(); track year) {
                  <mat-button-toggle
                    class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                    [value]="year"> {{ year }}
                  </mat-button-toggle>
                }
              </mat-button-toggle-group>
              <div class="sm:hidden">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="visitorsMenu">
                  <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #visitorsMenu="matMenu">
                  @for (year of store.chartAttendanceSeries(); track year) {
                    <button mat-menu-item>{{ year }}</button>
                  }
                </mat-menu>
              </div>
            </div>
          </div>
          <div class="flex flex-col flex-auto h-80">
            <apx-chart *ngIf="$chartChurchAttendanceDefinition() && $chartAttendanceData()"
                       class="flex-auto w-full h-full"
                       [chart]="$chartChurchAttendanceDefinition()?.chart"
                       [series]="$chartAttendanceData()[visitorsYearSelector.value]"
                       [colors]="$chartChurchAttendanceDefinition()?.colors"
                       [dataLabels]="$chartChurchAttendanceDefinition()?.dataLabels"
                       [fill]="$chartChurchAttendanceDefinition()?.fill"
                       [grid]="$chartChurchAttendanceDefinition()?.grid"
                       [stroke]="$chartChurchAttendanceDefinition()?.stroke"
                       [tooltip]="$chartChurchAttendanceDefinition()?.tooltip"
                       [xaxis]="$chartChurchAttendanceDefinition()?.xaxis"
                       [yaxis]="$chartChurchAttendanceDefinition()?.yaxis"></apx-chart>
          </div>
        </div>
        <!-- Conversions -->
        <div class="sm:col-span-2 lg:col-span-1 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-between m-6 mb-0">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Members</div>
            <div class="ml-2">
              <button
                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                mat-button
                [matMenuTriggerFor]="conversionMenu">
                <span class="font-medium text-sm text-secondary">30 days</span>
              </button>
              <mat-menu #conversionMenu="matMenu">
                <button mat-menu-item>30 days</button>
                <button mat-menu-item>3 months</button>
                <button mat-menu-item>9 months</button>
              </mat-menu>
            </div>
          </div>
          <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
            <div
              class="text-7xl font-bold tracking-tighter leading-tight">{{ data.conversions.amount | number:'1.0-0' }}
            </div>
            <div class="flex lg:flex-col lg:ml-3">
              <mat-icon
                class="icon-size-5 text-red-500"
                [svgIcon]="'heroicons_solid:trending-down'"></mat-icon>
              <div
                class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                <span class="font-medium text-red-500">2%</span>
                <span class="ml-1">below target</span>
              </div>
            </div>
          </div>
          <div class="flex flex-col flex-auto h-20">
          <!--  @if($chartConnectionStatusData()){
              <apx-chart
                class="flex flex-auto items-center justify-center w-full h-full"
                [chart]="$chartConnectionStatusDefinition().chart"
                [colors]="$chartConnectionStatusDefinition().colors"
                [labels]="$chartConnectionStatusData().labels"
                [plotOptions]="$chartConnectionStatusDefinition().plotOptions"
                [series]="$chartConnectionStatusData().series"
                [states]="$chartConnectionStatusDefinition().states"
                [tooltip]="$chartConnectionStatusDefinition().tooltip"></apx-chart>
            }-->

            <apx-chart
              class="flex-auto w-full h-full"
              [chart]="chartConversions.chart"
              [colors]="chartConversions.colors"
              [series]="chartConversions.series"
              [stroke]="chartConversions.stroke"
              [tooltip]="chartConversions.tooltip"
              [xaxis]="chartConversions.xaxis"
              [yaxis]="chartConversions.yaxis"></apx-chart>
          </div>
        </div>
        <!-- Impressions -->
        <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-between m-6 mb-0">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">New Converts</div>
            <div class="ml-2">
              <button
                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                mat-button
                [matMenuTriggerFor]="impressionsMenu">
                <span class="font-medium text-sm text-secondary">{{ store.newConvertsPeriodSelection() ?? '3' }}
                  months</span>
              </button>
              <mat-menu #impressionsMenu="matMenu">
                @for (period of store.availableMonthsPeriods(); track period) {
                  <button mat-menu-item (click)="newConvertPeriodChange(period)">{{ period }} Months</button>
                }
              </mat-menu>
            </div>
          </div>
          <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
            <div
              class="text-7xl font-bold tracking-tighter leading-tight">{{ $chartNcStatsData()?.total ?? 0 | number:'1.0-0' }}
            </div>
            <div class="flex lg:flex-col lg:ml-3">
              <mat-icon
                class="icon-size-5"
                [ngClass]="$chartNcStatsData()?.percentageChange > 0 ? 'text-green-500' : 'text-red-500'"
                [svgIcon]="$chartNcStatsData()?.percentageChange > 0
                            ? 'heroicons_solid:trending-up'
                            : 'heroicons_solid:trending-down'"></mat-icon>
              <div
                class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                            <span class="font-medium"
                                  [ngClass]="$chartNcStatsData()?.percentageChange > 0 ? 'text-green-500' : 'text-red-500'">
                              {{ $chartNcStatsData()?.percentageChange  | number:'1.0-0' }}%</span>
                <span class="ml-1">
                              average {{ $chartNcStatsData()?.percentageChange > 0 ? 'increase' : 'decrease' }}
                            </span>
              </div>
            </div>
          </div>
          <div class="flex flex-col flex-auto h-20">
            @if ($chartNcStatsData() ) {
              <apx-chart
                class="flex-auto w-full h-full"
                [series]="$chartNcStatsData()?.series"
                [chart]="$chartNcStatsDefinition()?.chart"
                [colors]="$chartNcStatsDefinition()?.colors"
                [labels]="$chartNcStatsData()?.labels"
                [stroke]="$chartNcStatsDefinition()?.stroke"
                [tooltip]="$chartNcStatsDefinition()?.tooltip"
                [xaxis]="$chartNcStatsDefinition()?.xaxis"
                [yaxis]="$chartNcStatsDefinition()?.yaxis"></apx-chart>
            }
          </div>
        </div>
        <!-- Visits -->
        <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-between m-6 mb-0">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">First Timers</div>
            <div class="ml-2">
              <button
                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                mat-button
                [matMenuTriggerFor]="ftMenu">
                <span class="font-medium text-sm text-secondary">{{ store.firstTimersPeriodSelection() ?? '3' }}
                  months</span>
              </button>
              <mat-menu #ftMenu="matMenu">
                @for (period of store.availableMonthsPeriods(); track period) {
                  <button mat-menu-item (click)="updateFtPeriodChange(period)">{{ period }} Months</button>
                }
              </mat-menu>
            </div>
          </div>
          <div class="flex flex-col lg:flex-row lg:items-center mx-6 mt-3">
            <div class="text-7xl font-bold tracking-tighter leading-tight">{{ $chartFtStatsData().total | number:'1.0-0' }}
            </div>
            <div class="flex lg:flex-col lg:ml-3">
              <mat-icon
                class="icon-size-5"
                [ngClass]="$chartFtStatsData()?.percentageChange > 0 ? 'text-green-500' : 'text-red-500'"
                [svgIcon]="$chartFtStatsData()?.percentageChange > 0
                            ? 'heroicons_solid:trending-up'
                            : 'heroicons_solid:trending-down'"></mat-icon>
              <div
                class="flex items-center ml-1 lg:ml-0 lg:mt-0.5 text-md leading-none whitespace-nowrap text-secondary">
                            <span class="font-medium"
                                  [ngClass]="$chartFtStatsData()?.percentageChange > 0 ? 'text-green-500' : 'text-red-500'">
                              {{ $chartFtStatsData()?.percentageChange  | number:'1.0-0' }}%</span>
                <span class="ml-1">
                              average {{ $chartFtStatsData()?.percentageChange > 0 ? 'increase' : 'decrease' }}
                            </span>
              </div>
            </div>
          </div>
          <div class="flex flex-col flex-auto h-20">
            @if($chartFtStatsData()) {
              <apx-chart
                class="flex-auto w-full h-full"
                [chart]="$chartFtStatsDefinition().chart"
                [colors]="$chartFtStatsDefinition().colors"
                [series]="$chartFtStatsData().series"
                [labels]="$chartFtStatsData()?.labels"
                [stroke]="$chartFtStatsDefinition().stroke"
                [tooltip]="$chartFtStatsDefinition().tooltip"
                [xaxis]="$chartFtStatsDefinition().xaxis"
                [yaxis]="$chartFtStatsDefinition().yaxis"></apx-chart>
            }
          </div>
        </div>
      </div>

      <!-- Visitors vs. Page Views -->
      <div class="flex flex-col flex-auto mt-8 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between m-6 mb-0">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">New Converts vs. First Timers</div>
          <div class="ml-2">


            <mat-button-toggle-group
              class="hidden sm:inline-flex border-none space-x-1"
              [value]="currentYear"
              #firstTimerVsNewConvertsSelection="matButtonToggleGroup">
              @for (year of store.chartAttendanceSeries(); track year) {
                <mat-button-toggle
                  class="px-1.5 rounded-full overflow-hidden border-none font-medium"
                  [value]="year ?? currentYear"> {{ year }}
                </mat-button-toggle>
              }
            </mat-button-toggle-group>

          </div>
        </div>
        <div class="flex items-start mt-6 mx-6">
          <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 sm:gap-12">
            <div class="flex flex-col">
              <div class="flex items-center">
                <div class="font-medium text-secondary leading-5">Annual Conversion Rate</div>
                <mat-icon
                  class="ml-1.5 icon-size-4 text-hint"
                  [svgIcon]="'heroicons_solid:information-circle'"
                  [matTooltip]="'Calculated by using the historical ratio between New Converts and First Timers.'"></mat-icon>
              </div>
              <div class="flex items-start mt-2">
                <div
                  class="text-4xl font-bold tracking-tight leading-none">{{ $chartNcVsFtData().totalNcAndFt[firstTimerVsNewConvertsSelection.value ?? currentYear]?.at(2) }}
                  %
                </div>
                <div class="flex items-center ml-2">
                  @if (firstTimerVsNewConvertsSelection.value ?? currentYear) {
                    <mat-icon
                      class="icon-size-5 text-green-500"
                      [svgIcon]="'heroicons_solid:arrow-circle-up'"></mat-icon>
                    <div class="ml-1 text-md font-medium text-green-500">42.9%</div>
                  }
                </div>
              </div>
            </div>

          </div>
        </div>
        @if ($chartNcVsFtDefinition() && $chartNcVsFtData()) {
          <div class="flex flex-col flex-auto h-80 mt-3">
            <apx-chart
              class="flex-auto w-full h-full"
              [chart]="$chartNcVsFtDefinition()?.chart"
              [colors]="$chartNcVsFtDefinition().colors"
              [dataLabels]="$chartNcVsFtDefinition().dataLabels"
              [grid]="$chartNcVsFtDefinition().grid"
              [legend]="$chartNcVsFtDefinition().legend"
              [series]="$chartNcVsFtData().series[firstTimerVsNewConvertsSelection.value]"
              [stroke]="$chartNcVsFtDefinition().stroke"
              [tooltip]="$chartNcVsFtDefinition().tooltip"
              [xaxis]="$chartNcVsFtDefinition().xaxis"
              [yaxis]="$chartNcVsFtDefinition().yaxis"></apx-chart>
          </div>
        }
      </div>

      <!-- Section title -->
      <div class="w-full mt-12">
        <div class="text-2xl font-semibold tracking-tight leading-6">Church Demographics</div>
        <div class="font-medium tracking-tight text-secondary">Demographic properties of members</div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-6 md:mt-8">
        <!-- New vs. Returning -->
        <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">New vs. Returning</div>
            <div class="ml-2">
              <button
                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                mat-button
                [matMenuTriggerFor]="conversionMenu">
                <span class="font-medium text-sm text-secondary">30 days</span>
              </button>
              <mat-menu #conversionMenu="matMenu">
                <button mat-menu-item>30 days</button>
                <button mat-menu-item>3 months</button>
                <button mat-menu-item>9 months</button>
              </mat-menu>
            </div>
          </div>
          <div class="flex flex-col flex-auto mt-6 h-44">
            <apx-chart
              class="flex flex-auto items-center justify-center w-full h-full"
              [chart]="chartNewVsReturning.chart"
              [colors]="chartNewVsReturning.colors"
              [labels]="chartNewVsReturning.labels"
              [plotOptions]="chartNewVsReturning.plotOptions"
              [series]="chartNewVsReturning.series"
              [states]="chartNewVsReturning.states"
              [tooltip]="chartNewVsReturning.tooltip"></apx-chart>
          </div>
          <div class="mt-8">
            <div class="-my-3 divide-y">
              <ng-container *ngFor="let dataset of data.newVsReturning.series; let i = index">
                <div class="grid grid-cols-3 py-3">
                  <div class="flex items-center">
                    <div
                      class="flex-0 w-2 h-2 rounded-full"
                      [style.backgroundColor]="chartNewVsReturning.colors[i]"></div>
                    <div class="ml-3 truncate">{{ data.newVsReturning.labels[i] }}</div>
                  </div>
                  <div
                    class="font-medium text-right">{{ data.newVsReturning.uniqueVisitors * dataset / 100 | number:'1.0-0' }}
                  </div>
                  <div class="text-right text-secondary">{{ dataset }}%</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- Gender -->
        <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Gender</div>
            <div class="ml-2">
              <!--<button
                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                mat-button
                [matMenuTriggerFor]="conversionMenu">
                <span class="font-medium text-sm text-secondary">30 days</span>
              </button>
              <mat-menu #conversionMenu="matMenu">
                <button mat-menu-item>30 days</button>
                <button mat-menu-item>3 months</button>
                <button mat-menu-item>9 months</button>
              </mat-menu>-->
            </div>
          </div>
          @if($chartGenderData()) {
            <div class="flex flex-col flex-auto mt-6 h-44">
                <apx-chart
                  class="flex flex-auto items-center justify-center w-full h-full"
                  [chart]="$chartGenderDefinition().chart"
                  [colors]="$chartGenderDefinition().colors"
                  [labels]="$chartGenderData().labels"
                  [plotOptions]="$chartGenderDefinition().plotOptions"
                  [series]="$chartGenderData().series"
                  [states]="$chartGenderDefinition().states"
                  [tooltip]="$chartGenderDefinition().tooltip"></apx-chart>
            </div>
            <div class="mt-8">
              <div class="-my-3 divide-y">
                <ng-container *ngFor="let dataset of $chartGenderData().series; let i = index">
                  <div class="grid grid-cols-3 py-3">
                    <div class="flex items-center">
                      <div
                        class="flex-0 w-2 h-2 rounded-full"
                        [style.backgroundColor]="$chartGenderDefinition().colors[i]"></div>
                      <div class="ml-3 truncate">{{ $chartGenderData().labels[i] }}</div>
                    </div>
                    <div
                      class="font-medium text-right">{{ dataset }}
                    </div>
                    <div class="text-right text-secondary">{{ dataset / $chartGenderData().total * 100 | number:'1.0-0' }}%</div>
                  </div>
                </ng-container>
              </div>
            </div>
          }
        </div>
        <!-- Age -->
        <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Age</div>
            <!--<div class="ml-2">
              <button
                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                mat-button
                [matMenuTriggerFor]="conversionMenu">
                <span class="font-medium text-sm text-secondary">30 days</span>
              </button>
              <mat-menu #conversionMenu="matMenu">
                <button mat-menu-item>30 days</button>
                <button mat-menu-item>3 months</button>
                <button mat-menu-item>9 months</button>
              </mat-menu>
            </div>-->
          </div>
          @if($chartAgeData()) {
            <div class="flex flex-col flex-auto mt-6 h-44">
                <apx-chart
                  class="flex flex-auto items-center justify-center w-full h-full"
                  [chart]="$chartAgeDefinition().chart"
                  [colors]="$chartAgeDefinition().colors"
                  [labels]="$chartAgeData().labels"
                  [plotOptions]="$chartAgeDefinition().plotOptions"
                  [series]="$chartAgeData().series"
                  [states]="$chartAgeDefinition().states"
                  [tooltip]="$chartAgeDefinition().tooltip"></apx-chart>
            </div>
            <div class="mt-8">
              <div class="-my-3 divide-y">
                <ng-container *ngFor="let dataset of $chartAgeData().series; let i = index">
                  <div class="grid grid-cols-3 py-3">
                    <div class="flex items-center">
                      <div
                        class="flex-0 w-2 h-2 rounded-full"
                        [style.backgroundColor]="$chartAgeDefinition().colors[i]"></div>
                      <div class="ml-3 truncate">{{ $chartAgeData().labels[i] }}</div>
                    </div>
                    <div
                      class="font-medium text-right">{{ dataset }}
                    </div>
                    <div class="text-right text-secondary">{{ dataset / $chartAgeData().total * 100 | number:'1.0-0' }}%</div>
                  </div>
                </ng-container>
              </div>
            </div>
          }
        </div>
        <!-- Language -->
        <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">
          <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Connection Status</div>
          </div>
          @if($chartConnectionStatusData()) {
            <div class="flex flex-col flex-auto mt-6 h-44">
                <apx-chart
                  class="flex flex-auto items-center justify-center w-full h-full"
                  [chart]="$chartConnectionStatusDefinition().chart"
                  [colors]="$chartConnectionStatusDefinition().colors"
                  [labels]="$chartConnectionStatusData().labels"
                  [plotOptions]="$chartConnectionStatusDefinition().plotOptions"
                  [series]="$chartConnectionStatusData().series"
                  [states]="$chartConnectionStatusDefinition().states"
                  [tooltip]="$chartConnectionStatusDefinition().tooltip"></apx-chart>
            </div>
            <div class="mt-8">
              <div class="-my-3 divide-y">
                <ng-container *ngFor="let dataset of $chartConnectionStatusData().series; let i = index">
                  <div class="grid grid-cols-3 py-3">
                    <div class="flex items-center">
                      <div
                        class="flex-0 w-2 h-2 rounded-full"
                        [style.backgroundColor]="$chartConnectionStatusDefinition().colors[i]"></div>
                      <div class="ml-3 truncate">{{ $chartConnectionStatusData().labels[i] }}</div>
                    </div>
                    <div
                      class="font-medium text-right">{{ dataset }}
                    </div>
                    <div class="text-right text-secondary">{{ dataset / $chartConnectionStatusData().total * 100 | number:'1.0-0' }}%</div>
                  </div>
                </ng-container>
              </div>
            </div>
          }
        </div>
      </div>
    } @else {
      <div class="text-lg font-medium tracking-tight leading-6 truncate">No Data, please select another church</div>
    }

  </div>

</div>
