<pre *ngIf="debug()">
    selection.hasValue(): {{ selection.hasValue() }} |  isAllSelected(): {{ isAllSelected() }}
  |  docsOnThisPage: {{ resultsOnThisPage.length }} |  selected: {{ selection.selected.length }}
</pre>

<!-- Query injection -->
<ng-content></ng-content>

<!-- Actions Toolbar -->
<div class="flex flex-row justify-between items-center">
  <div *ngIf="filter()">
    <mat-form-field class="w-100 fuse-mat-dense fuse-mat-rounded">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{filterPlaceholder()}}">
      <button
        mat-icon-button
        matPrefix>
        <mat-icon
          class="icon-size-5"
          [svgIcon]="'heroicons_solid:search'"></mat-icon>
      </button>
    </mat-form-field>
  </div>

  <!-- Actions -->
  @if (hasTableToolbar) {
    <div class="p-2 md:p-2 space-x-2">
      @for (t of toolbar(); track t.action) {
        <button
          mat-mini-fab [color]="t.color ?? 'primary'"
          [matTooltip]="t.tooltip"
          (click)="this.buttonClick.emit([t.action])"
          [disabled]="t.disabled">
          <mat-icon>{{ t.icon }}</mat-icon>
        </button>
      }
    </div>
  }

</div>
<!-- Toolbar -->

<!-- Loader -->
<mat-progress-bar *ngIf="service.dataSource.loading$ | async" [mode]="'indeterminate'"></mat-progress-bar>

<!-- Table -->
<table class="w-full"
       [ngClass]="{ 'highlight-hover': drawerEnabled() }"
       mat-table
       matSort
       [dataSource]="service.dataSource"
       [@zoomIn]="true">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null;"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="($event ? selection.toggle(row.id) : null); select(row.id)"
        [checked]="selection.isSelected(row.id)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Columns -->
  <ng-container *ngFor="let column of columns()" matColumnDef="{{column.columnDef}}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
    <td mat-cell *matCellDef="let row">
      <!-- Specific column types -->
      @switch (column.columnType) {
        @case ('checkbox') {
          @if (column.cell(row)) {
            <mat-icon
              class="text-green-400 icon-size-5"
              [svgIcon]="'heroicons_solid:check'"
              disabled
            ></mat-icon>
          }
          @if (!column.cell(row)) {
            <mat-icon
              class="text-gray-400 icon-size-5"
              [svgIcon]="'heroicons_solid:x-mark'"
              disabled
            ></mat-icon>
          }
        }
        @case ('icon') {
          <mat-icon [svgIcon]="column.cell(row)"></mat-icon>
        }
        @default {
          {{ column.cell(row) }}
        }
      }
    </td>
  </ng-container>

  <!-- Buttons Column -->
  <ng-container *ngIf="buttons() && buttons().length > 0" matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <div class="flex items-center">
        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                (click)="$event.stopPropagation();">
          <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
          <div *ngFor="let button of buttons()">
            <button mat-menu-item (click)="this.buttonClick.emit([button.action, button.payload(row)])"
                    [disabled]="button.disabledFn && button.disabledFn(row)">
              <mat-icon>{{ button.icon }}</mat-icon>
              <span *ngIf="button.text">{{ button.text }}</span>
            </button>
          </div>
        </mat-menu>
      </div>

    </td>
  </ng-container>

  <!-- Disclaimer column - with nullable approach -->
  <ng-container matColumnDef="disclaimer" *ngIf="footer()">
    <td mat-footer-cell *matFooterCellDef colspan="100%">
      <strong>{{ footer() }}</strong>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <ng-container *ngIf="drawerEnabled()">
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [@fadeIn]="true"
        (click)="this.buttonClick.emit(['drawer', row.id])"></tr>
  </ng-container>
  <ng-container *ngIf="!drawerEnabled()">
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [@fadeIn]="true"></tr>
  </ng-container>

  <ng-container *ngIf="footer()"> <!-- Make footer nullable -->
    <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
  </ng-container>
</table>
<!-- Table -->

<mat-paginator
  class="flex justify-end"
  [pageSizeOptions]="pagination()"
  [length]="page.totalResults"
  [pageSize]="pageSize()"
  [pageIndex]="0"
  (page)="fetch($event.pageIndex)">
</mat-paginator>

<div *ngIf="debug()">
  <button
    mat-raised-button
    (click)="logSelection()">Console Log Selected
  </button>
</div>

