<div *ngIf="profile$ | async as profile">

    <!-- Main -->
    <div class="grid md:grid-cols-3">

        <!-- Column 1 -->
        <div class="md:col-span-1">
          <!--General-->
            <fuse-card class="flex flex-col max-w-80 w-full p-8 m-8">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">General</div>
                    <div class="-mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="generalActionsMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #generalActionsMenu="matMenu">
                            <button mat-menu-item (click)="onEditGeneralInfo()">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                            <span class="leading-none">{{profile.occupation}}</span>
                        </div>
                        <div *ngIf="profile.maritalStatus" class="flex items-center mt-4">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:users'"></mat-icon>
                            <span class="leading-none">{{profile.maritalStatus}}
                            <span class="mat-caption" *ngIf="profile.maritalStatus === 'Married' && profile.anniversaryDate">
                              ({{profile.anniversaryDate | date}})
                            </span>
                        </span>

                        </div>
                        <div *ngIf="profile.birthDate" class="flex items-center mt-4">
                            <mat-icon
                                class="icon-size-5 mr-3"
                                [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                            <span class="leading-none">
                                <span *ngIf="profile.birthDate?.birthDay">{{profile.birthDate?.birthDay}}</span>
                                <span *ngIf="profile.birthDate?.birthMonth">/{{profile.birthDate?.birthMonth}}</span>
                                <span *ngIf="profile.birthDate?.birthYear">/{{profile.birthDate?.birthYear}}</span>
                                <span class="mat-caption" *ngIf="profile.birthDate?.age">
                                      ({{profile.birthDate | agePluralize }})
                                </span>
                            </span>
                        </div>
                        <hr class="w-full border-t my-6">

                        <!-- Phone -->
                        <ng-container *ngIf="profile.phoneNumbers.length">
                            <div class="flex">
                                <mat-icon [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                <div class="min-w-0 ml-6 space-y-1">
                                    <ng-container *ngFor="let phoneNumber of profile.phoneNumbers">
                                        <div class="flex items-center leading-6">
                                            <div class="sm:ml-3 font-mono">{{phoneNumber.countryCode}}</div>
                                            <div class="ml-2.5 font-mono">{{phoneNumber.number}}</div>
                                            <div
                                                class="text-md truncate text-secondary"
                                                *ngIf="phoneNumber.description">
                                                <span class="mx-2">&bull;</span>
                                                <span class="font-medium">{{phoneNumber.description}}</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>

                        <!-- Emails -->
                        <ng-container *ngIf="profile.email">
                            <div class="flex mt-4">
                                <mat-icon [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                <div class="min-w-0 ml-6 space-y-1">
                                    <div class="flex items-center leading-6">
                                        <a class="text-blue-800" [href]="'mailto:' + profile.email?.address">{{profile.email?.address}}</a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </fuse-card>

          <!--FAMILY-->
            <fuse-card class="flex flex-col max-w-80 w-full mt-8 p-8 pt-6 m-8">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">Family</div>
                    <div class="-mr-3">
                        <button
                            mat-icon-button
                            [matMenuTriggerFor]="familyActionMenu">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #familyActionMenu="matMenu">
                            <button mat-menu-item>Edit</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="flex justify-between mt-6">
                        <div class="flex flex-col cursor-pointer" *ngFor="let member of profile.familyMembers"
                             matTooltip="{{member.fullName.firstName}} ({{member.ageClassification}})"
                             matTooltipPosition="above">
                            <img
                                 [routerLink]="['/pages/profile', member.personId]"
                                 class="w-14 h-14 rounded-full"
                                 [src]="member.photoUrl"
                                 alt="Family member">
                            <div class="text-secondary">{{member.fullName.firstName}}</div>
                            <div class="mat-caption" *ngIf="member.birthDate?.age">
                                ({{member.birthDate | agePluralize }})
                            </div>
                        </div>
                    </div>
                </div>
            </fuse-card>

          <!--History-->
          <fuse-card class="flex flex-col max-w-80 w-full p-8 m-8">
            <div class="flex items-center justify-between">
              <div class="text-2xl font-semibold leading-tight">Recent History</div>
            </div>
            <div class="mt-4">
              <div class="flex flex-col">
                <!-- History items -->
                @for (activity of profile.history;
                  track activity.id;
                  let i = $index;
                  let first = $first;
                  let last = $last) {
                  <li class="relative flex py-7">
                    <!-- Line -->
                    @if (!last && isSameDay(activity.date, profile.history[i + 1].date))  {
                      <div class="absolute left-5 top-7 -ml-px h-full w-0.5 bg-gray-300 dark:bg-gray-600"></div>
                    }

                    <div class="relative flex flex-auto">
                      <!-- Icon -->
                      @if (activity.verb) {
                        <div class="mr-4 flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-gray-400">
                          @switch (activity.verb) {
                            @case ('ADD') {
                              <mat-icon class="text-white icon-size-5"
                                [svgIcon]="'heroicons_solid:user-plus'">
                              </mat-icon>
                            }
                            @case ('MODIFY') {
                              <mat-icon class="text-white icon-size-5"
                                        [svgIcon]="'heroicons_solid:refresh'">
                              </mat-icon>
                            }
                            @default {
                              <mat-icon class="text-white icon-size-5"
                                [svgIcon]="'heroicons_solid:star'">
                              </mat-icon>
                            }
                          }

                        </div>
                      }

                      <!-- Content -->
                      <div class="flex flex-auto flex-col items-start">
                        <!-- Caption -->
                        <!--
                        -->
                        @switch (activity.verb) {
                          @case ('ADD') {
                            @if (activity.caption) {
                              <div><strong>{{activity.caption}}</strong> added</div>
                            }
                          }
                          @case ('MODIFY') {
                            @if (activity.valueName) {
                              <div> <strong>{{activity.valueName}}</strong> updated to <strong>{{activity.newValue}}</strong></div>
                            }
                          }
                          @case ('ADDEDTOGROUP') {
                            @if (activity.valueName) {
                              <div>Joined group <strong>{{activity.newValue}}</strong></div>
                            }
                          }
                          @default {
                            @if (activity.caption) {
                              <div [innerHTML]="activity.caption"></div>
                            }
                          }
                        }




                        <div class="mt-2 flex flex-col text-md leading-5 sm:mt-1 sm:flex-row sm:items-center sm:space-x-2">

                          <!-- Date -->
                          <div class="text-secondary">{{activity.date| date: 'MMM dd, h:mm a' }}</div>
                          <!-- Related content -->
                          @if (activity.relatedEntity) {
                            <div class="hidden sm:block">
                              &bull;
                            </div>

                            <!-- link -->


                            <!-- Extra content -->
                            @if (activity.relatedData) {
                              <div class="mt-4 rounded-lg bg-gray-200 px-5 py-4 dark:bg-gray-800"
                                [innerHTML]="activity.relatedData">
                              </div>
                            }
                          }
                        </div>


                      </div>
                    </div>
                  </li>

                }

                <div class="-mx-3 mt-6 flex items-center">
                  <a
                    class="px-3"
                    mat-button
                    [color]="'primary'"
                    [routerLink]="['./']"
                  >
                    See all history
                  </a>
                </div>
              </div>
            </div>
          </fuse-card>

        </div>
        <!-- Column 1 -->

        <!-- Column 2 -->
        <main class="md:col-span-2">
            <div>
                <!-- General info -->
                <fuse-card class="flex flex-col p-8 m-8 ">

                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Personal</div>
                        <div class="-mr-3">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="personalActionsMenu">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #personalActionsMenu="matMenu">
                                <button mat-menu-item (click)="onEditPersonalInfo()">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                  <div class="grid md:grid-cols-2">
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">First Name</div>
                      <div class="px-4 py-2">{{profile.fullName.firstName}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Last Name</div>
                      <div class="px-4 py-2">{{profile.fullName.lastName}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Gender</div>
                      <div class="px-4 py-2">{{profile.gender}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Age Classification</div>
                      <div class="px-4 py-2">{{profile.ageClassification}}</div>
                    </div>
                  </div>
                </fuse-card>
                <!-- General info -->

                <!-- Connection info -->
                <fuse-card class="flex flex-col p-8 m-8 ">

                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Connection</div>
                        <div class="-mr-3">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="connectionActionsMenu">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #connectionActionsMenu="matMenu">
                                <button mat-menu-item (click)="onEditConnectionsInfo()">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                  <div class="grid md:grid-cols-2">
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Church</div>
                      <div class="px-4 py-2">{{profile.church.name}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Connection Status</div>
                      <div class="px-4 py-2">{{profile.connectionStatus}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Source</div>
                      <div class="px-4 py-2">{{profile.source}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">First Visit Date</div>
                      <div class="px-4 py-2">{{profile.firstVisitDate | date}}</div>
                    </div>
                  </div>
                </fuse-card>
                <!-- Connection info -->

                <!-- Discipleship info -->
                <fuse-card class="flex flex-col p-8 m-8 ">

                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Discipleship</div>
                        <div class="-mr-3">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="discipleshipActionsMenu">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                            </button>
                            <mat-menu #discipleshipActionsMenu="matMenu">
                                <button mat-menu-item  (click)="onEditDiscipleshipInfo()">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                  <div class="grid md:grid-cols-2">
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Baptised</div>
                      <div class="px-4 py-2">{{profile.baptismStatus?.isBaptised ? 'Yes' : 'No'}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Baptism Date</div>
                      <div class="px-4 py-2">{{profile.baptismStatus?.baptismDate | date}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Received Holy Spirit</div>
                      <div class="px-4 py-2">{{profile.receivedHolySpirit ? 'Yes' : 'No'}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                      <div class="px-4 py-2 font-semibold">Foundation School</div>
                      <div class="px-4 py-2">{{profile.foundationSchool.isComplete ? 'Yes' : 'No'}}
                        <span class="mat-caption" *ngIf="profile.foundationSchool.isComplete && profile.foundationSchool.completionDate">
                                      ({{profile.foundationSchool.completionDate | date}})
                                    </span>
                      </div>
                    </div>
                  </div>
                </fuse-card>
                <!-- Discipleship info -->

            </div>
        </main>
        <!-- Column 2 -->

    </div>
    <!-- Main -->

</div>